################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/AngularWiki/AngularWiki.API/bin/Debug/netcoreapp3.1
/Backend/AngularWiki/AngularWiki.API/obj
