.title-container {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.row {
    padding: 5px;
}

.article-footer {
    float: right;
}

button[mat-stroked-button] {
    margin: 5px 10px 5px 5px;
    min-width: 75px;
}

input.editor {
    width: 100%;
}

.editor {
    width: 100%;
    overflow: auto;
}

.fp {
    resize: none;
}

.hidden {
    display: none;
}

div p {
    white-space: pre-wrap;
}