<mat-card>
    <div *ngIf="article" class="article-container">
        <div class="row">
            <div class="col title-container">
                <h3>
                    {{article.title}}
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    Tags: {{article.getTagsString()}}
                </p>
            </div>
        </div>
        <div class="row">
            <div *ngIf="article.imageUrl" class="col-2 image-container">
                <img src="{{article.imageUrl}}">
            </div>
            <div [class.col-12]="!article.imageUrl" [class.col-10]="article.imageUrl" class="fp-container">
                <p>
                    {{article.firstParagraph}}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col body-container">
                <p>
                    {{article.body}}
                </p>
            </div>
        </div>

        <mat-card-actions align="end">
                <button mat-stroked-button color="primary" (click)="editArticle()">Edit</button>
                <button mat-stroked-button color="primary"
                    (click)="deleteArticle()">Delete</button>
        </mat-card-actions>
    </div>
</mat-card>